/* List */

#list1 {
    display: none;
}

#list2 {
    display: none;
}

#list3 {
    display: none;
}

#list4 {
    display: none;
}

/* Step */

#pro {
    display: block;
}

#nbPersons {
    display: none;
}

#pauseGourmande {
    display: none;
}

#menu {
    display: none;
}